# =============== #
# Unity generated #
# =============== #

Temp/
Library/
Logs/

# ============================== #
# Builds and developer generated #
# ============================== #

Build/
Builds/*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
JetBrains/
JetBrains.meta
ExportedObj/
obj/
.vs/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
*.apk
*.opensdf
*.sdf
*.DotSettings
.idea/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ========================== #
# .Net Core Server generated #
# ========================== #

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
build-win/
build-lin/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# ========================== #
#     Submodule specific     #
# ========================== #

UserSettings/
Packages/
ProjectSettings/
local_player_model






